<footer class="tw-m-4">
  <div class="tw-w-full tw-mx-auto tw-p-4 md:tw-flex md:tw-items-center md:tw-justify-between">
    <span class="tw-text-sm sm:tw-text-center">{{ footerText }} </span>
    <ul class="tw-flex tw-flex-wrap tw-items-center tw-mt-3 tw-text-sm tw-font-medium sm:tw-mt-0">
      <li>
        <a
          href="https://github.com/LeddaZ/todo-frontend"
          class="hover:tw-text-success tw-font-semibold"
          >See on GitHub</a
        >
      </li>
    </ul>
  </div>
</footer>
