<div class="tw-navbar tw-bg-base-100 tw-p-10">
  <div class="tw-flex-1">
    <a
      class="tw-text-3xl tw-font-bold tw-leading-none tw-tracking-tight md:tw-text-4xl lg:tw-text-5xl"
      >To-Do List</a
    >
  </div>
  <div class="tw-flex-none tw-gap-2" *ngIf="user">
    <div class="tw-dropdown tw-dropdown-end">
      <button class="tw-btn tw-btn-ghost tw-btn-circle tw-avatar">
        <div class="tw-w-10 tw-rounded-full">
          <img alt="User avatar" [src]="user!.picture" />
        </div>
      </button>
      <ul
        tabindex="0"
        class="tw-mt-3 tw-z-[1] tw-p-2 tw-shadow tw-menu tw-menu-sm tw-dropdown-content tw-bg-base-100 tw-rounded-box">
        <li>
          <p class="tw-max-w-80 tw-min-w-0 tw-overflow-hidden tw-justify-between tw-font-semibold">
            {{ user!.fullName }}
          </p>
        </li>
        <li (click)="logout()"><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>
