<div class="tw-grid">
  <div class="tw-grid sm:tw-grid-cols-1 md:tw-grid-cols-2 tw-w-fit tw-mx-auto">
    <button
      class="tw-mx-auto tw-my-1 tw-btn tw-btn-square tw-btn-secondary tw-w-24"
      onclick="todo_modal.showModal()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="tw-h-5 tw-w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M 1.3337431,11.99631 H 22.688397 M 12.01107,1.3337431 V 22.658877" />
      </svg>
      New
    </button>
    <div class="tw-form-control tw-w-40 tw-my-auto tw-mx-auto">
      <label class="tw-label tw-cursor-pointer">
        <span class="tw-label-text">Show completed</span>
        <input
          type="checkbox"
          class="tw-checkbox tw-checkbox-primary tw-rounded-full"
          (change)="updateShowCompleted()" />
      </label>
    </div>
  </div>
  <app-todo-modal (addTodo)="addTodo($event)"></app-todo-modal>
  <div class="tw-grid sm:tw-grid-cols-1 md:tw-grid-cols-2 lg:tw-grid-cols-3 xl:tw-grid-cols-4">
    <app-todo-item
      *ngFor="let todo of todos$ | async"
      [todo]="todo"
      (checked)="onCheckboxChange($event)"></app-todo-item>
  </div>
</div>
