<dialog id="todo_modal" class="tw-modal">
  <div class="tw-modal-box">
    <h3 class="tw-font-bold tw-text-xl">New To-Do</h3>
    <div class="tw-py-4">
      <label class="tw-input tw-input-bordered tw-flex tw-items-center tw-gap-2">
        <p class="tw-font-bold">Title</p>
        <input type="text" class="tw-grow" [(ngModel)]="title" />
      </label>
    </div>
    <div class="tw-grid sm:tw-grid-cols-1 md:tw-grid-cols-2">
      <app-datepicker
        class="tw-inline tw-mx-auto"
        (dateChange)="onDateChange($event)"></app-datepicker>
      <div class="tw-p-4 tw-m-auto">
        <label class="tw-label" for="users">Assign to</label>
        <select name="users" class="tw-select tw-select-primary tw-w-full" [(ngModel)]="userId">
          <option value="" selected>Do not assign</option>
          <option *ngFor="let user of users" [ngValue]="user.id">{{ user.fullName }}</option>
        </select>
      </div>
    </div>
    <div class="tw-modal-action">
      <form method="dialog">
        <button class="tw-btn tw-btn-error tw-mx-2 tw-w-20" (click)="reset()">Cancel</button>
        <button
          [disabled]="title == '' || title == undefined"
          class="tw-btn tw-btn-success tw-mx-2 tw-w-20"
          (click)="add()">
          OK
        </button>
      </form>
    </div>
  </div>
</dialog>
