<!-- <div class="tw-mx-auto">
  <h2 class="tw-font-bold tw-text-center tw-text-2xl">Sign up</h2>
  <div class="tw-w-4/5 md:tw-w-2/3 lg:tw-w-2/5 xl:tw-w-1/3 tw-mx-auto">
    <form (ngSubmit)="signUp()" [formGroup]="registrationForm">
      <label class="tw-input tw-input-bordered tw-flex tw-items-center tw-gap-2 tw-my-3">
        <p class="tw-font-semibold tw-w-28">Name</p>
        <input required type="text" class="tw-w-full" formControlName="firstName" />
      </label>
      <label class="tw-input tw-input-bordered tw-flex tw-items-center tw-gap-2 tw-my-3">
        <p class="tw-font-semibold tw-w-28">Surname</p>
        <input required type="text" class="tw-w-full" formControlName="lastName" />
      </label>
      <label class="tw-input tw-input-bordered tw-flex tw-items-center tw-gap-2 tw-my-3">
        <p class="tw-font-semibold tw-w-28">Username</p>
        <input required type="email" class="tw-w-full" formControlName="username" />
      </label>
      <label class="tw-input tw-input-bordered tw-flex tw-items-center tw-gap-2 tw-my-3">
        <p class="tw-font-semibold tw-w-28">Password</p>
        <input required type="password" class="tw-w-full" formControlName="password" />
      </label>
      <label class="tw-input tw-input-bordered tw-flex tw-items-center tw-gap-2 tw-my-3">
        <p class="tw-font-semibold tw-w-28">Confirm password</p>
        <input required type="password" class="tw-w-full" formControlName="confirmPassword" />
      </label>
      <label class="tw-input tw-input-bordered tw-flex tw-items-center tw-gap-2 tw-my-3">
        <p class="tw-font-semibold tw-w-28">Picture URL</p>
        <input required type="url" class="tw-w-full" formControlName="picture" />
      </label>
      <div class="tw-text-error tw-text-center" *ngIf="registrationError">
        {{ registrationError }}
      </div>
      <div
        class="tw-text-error tw-text-center"
        *ngIf="
          registrationForm.controls.password.value !=
          registrationForm.controls.confirmPassword.value
        ">
        Passwords do not match
      </div>
      <div class="tw-text-center">
        <button
          type="submit"
          class="tw-mx-auto tw-my-3 tw-btn tw-btn-square tw-btn-secondary tw-w-24"
          [disabled]="registrationForm.invalid">
          Sign up
        </button>
      </div>
    </form>
  </div>
  <p class="tw-text-center">
    Already have an account?
    <a class="tw-text-success tw-font-semibold" routerLink="/login">Log in</a>
  </p>
</div> -->
<div>
  <div>
    <form class="max-w-sm mx-auto">
      <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
        <input type="email" id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="name@flowbite.com" required />
      </div>
      <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
        <input type="password" id="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required />
      </div>
      <div class="flex items-start mb-5">
        <div class="flex items-center h-5">
          <input id="remember" type="checkbox" value=""
            class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
            required />
        </div>
        <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
      </div>
      <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>
  </div>
</div>